<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/global.css">
    <link rel="stylesheet" href="css/grid.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <header class="relative">
        <a href="#">
            <img src="images/banner-1.jpg" alt="" class="w-100">
            <div class="absolute w-75 t-center" style="top:30%">
                <div class="t-blue t-weight">好評熱賣款</div>
                <h2 class="t-dark mt-2 mb-4">有序延長線</h2>
                <p class="t-dark">加大孔距，隨處固定，讓空間井然有序</p>
            </div>
        </a>
    </header>
    <div class="container relative" style="padding:80px 0">
        <div class="row">
            <div class="col-12">
                <a href="#" class="d-block" style="height:150px">
                    <img src="https://picsum.photos/id/49/1200/300" class="w-100 h-100 img-cover border-light radius-3">
                    <h2 class="absolute t-dark pl-5" style="top:46%">訂閱配送</h2>
                </a>
            </div>
        </div>
    </div>
    <div class="container row py-6">
        <div class="col-12">
            <h2 class="mb-5">活動特輯</h2>
        </div>
        <div class="col-3">
            <a href="#" class="t-none">
                <div class="border-light radius-3 overflow-hidden">
                    <img src="https://picsum.photos/id/99/800/600" class="img-cover w-100 h-100">
                    <div class="t-dark p-2">
                        五周年限定，白色好神拖強勢回歸
                    </div>
                </div>
            </a>
        </div>
        <div class="col-3">
            <a href="#" class="t-none">
                <div class="border-light radius-3 overflow-hidden">
                    <img src="https://picsum.photos/id/96/800/600" class="img-cover w-100 h-100">
                    <div class="t-dark p-2">
                        五周年限定，白色好神拖強勢回歸
                    </div>
                </div>
            </a>
        </div>
        <div class="col-3">
            <a href="#" class="t-none">
                <div class="border-light radius-3 overflow-hidden">
                    <img src="https://picsum.photos/id/98/800/600" class="img-cover w-100 h-100">
                    <div class="t-dark p-2">
                        五周年限定，白色好神拖強勢回歸
                    </div>
                </div>
            </a>
        </div>
        <div class="col-3">
            <a href="#" class="t-none">
                <div class="border-light radius-3 overflow-hidden">
                    <img src="https://picsum.photos/id/95/800/600" class="img-cover w-100 h-100">
                    <div class="t-dark p-2">
                        五周年限定，白色好神拖強勢回歸
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="container row py-6">
        <div class="col-12">
            <h2 class="mb-5">新品發表</h2>
        </div>
        <div class="col-3">
            <a href="#" class="t-none relative d-block">
                <div class="border-light radius-3 overflow-hidden">
                    <img src="https://picsum.photos/id/79/800/600" class="img-cover w-100 h-100">
                    <div class="t-dark p-2">
                        有序·收納小幫手系列
                    </div>
                </div>
                <div class="absolute bg-black t-white p-1 radius-1" style="right:15px;top:15px">New</div>

            </a>
        </div>
        <div class="col-3">
            <a href="#" class="t-none d-block relative">
                <div class="border-light radius-3 overflow-hidden">
                    <img src="https://picsum.photos/id/76/800/600" class="img-cover w-100 h-100">
                    <div class="t-dark p-2">
                        醇萃防蚊液
                    </div>
                </div>
                <div class="absolute bg-black t-white p-1 radius-1" style="right:15px;top:15px">New</div>
            </a>
        </div>
        <div class="col-3">
            <a href="#" class="t-none">
                <div class="border-light radius-3 overflow-hidden">
                    <img src="https://picsum.photos/id/78/800/600" class="img-cover w-100 h-100">
                    <div class="t-dark p-2">
                        Eco Fresh強淨碗盤清潔
                    </div>
                </div>
            </a>
        </div>
        <div class="col-3">
            <a href="#" class="t-none d-block relative">
                <div class="border-light radius-3 overflow-hidden">
                    <img src="https://picsum.photos/id/75/800/600" class="img-cover w-100 h-100">
                    <div class="t-dark p-2">
                        Eco Fresh廚房重油清潔
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="container row py-6">
        <div class="col-12">
            <h2 class="mb-5">限定促銷</h2>
        </div>
        <div class="col-3 pb-6">
            <a href="#" class="t-dark t-none d-block relative">
                <div class="border-light radius-3 overflow-hidden d-flex">
                    <img src="https://picsum.photos/id/50/300" style="width:40%">
                    <div>
                        <div class="p-2">防蚊卡夾（白色）</div>
                        <div class="absolute t-right w-100 p-2" style="bottom:0;left:0">
                            <span class="t-gray t-line-through">$499</span>
                            <span class="t-red ml-2">$450</span>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-3 pb-6">
            <a href="#" class="t-dark t-none d-block relative">
                <div class="border-light radius-3 overflow-hidden d-flex">
                    <img src="https://picsum.photos/id/50/300" style="width:40%">
                    <div>
                        <div class="p-2">防蚊卡夾（白色）</div>
                        <div class="absolute t-right w-100 p-2" style="bottom:0;left:0">
                            <span class="t-gray t-line-through">$499</span>
                            <span class="t-red ml-2">$450</span>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-3 pb-6">
            <a href="#" class="t-dark t-none d-block relative">
                <div class="border-light radius-3 overflow-hidden d-flex">
                    <img src="https://picsum.photos/id/50/300" style="width:40%">
                    <div>
                        <div class="p-2">防蚊卡夾（白色）</div>
                        <div class="absolute t-right w-100 p-2" style="bottom:0;left:0">
                            <span class="t-gray t-line-through">$499</span>
                            <span class="t-red ml-2">$450</span>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-3 pb-6">
            <a href="#" class="t-dark t-none d-block relative">
                <div class="border-light radius-3 overflow-hidden d-flex">
                    <img src="https://picsum.photos/id/50/300" style="width:40%">
                    <div>
                        <div class="p-2">防蚊卡夾（白色）</div>
                        <div class="absolute t-right w-100 p-2" style="bottom:0;left:0">
                            <span class="t-gray t-line-through">$499</span>
                            <span class="t-red ml-2">$450</span>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-3 pb-6">
            <a href="#" class="t-dark t-none d-block relative">
                <div class="border-light radius-3 overflow-hidden d-flex">
                    <img src="https://picsum.photos/id/50/300" style="width:40%">
                    <div>
                        <div class="p-2">防蚊卡夾（白色）</div>
                        <div class="absolute t-right w-100 p-2" style="bottom:0;left:0">
                            <span class="t-gray t-line-through">$499</span>
                            <span class="t-red ml-2">$450</span>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-3 pb-6">
            <a href="#" class="t-dark t-none d-block relative">
                <div class="border-light radius-3 overflow-hidden d-flex">
                    <img src="https://picsum.photos/id/50/300" style="width:40%">
                    <div>
                        <div class="p-2">防蚊卡夾（白色）</div>
                        <div class="absolute t-right w-100 p-2" style="bottom:0;left:0">
                            <span class="t-gray t-line-through">$499</span>
                            <span class="t-red ml-2">$450</span>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-3 pb-6">
            <a href="#" class="t-dark t-none d-block relative">
                <div class="border-light radius-3 overflow-hidden d-flex">
                    <img src="https://picsum.photos/id/50/300" style="width:40%">
                    <div>
                        <div class="p-2">防蚊卡夾（白色）</div>
                        <div class="absolute t-right w-100 p-2" style="bottom:0;left:0">
                            <span class="t-gray t-line-through">$499</span>
                            <span class="t-red ml-2">$450</span>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-3 pb-6">
            <a href="#" class="t-dark t-none d-block relative">
                <div class="border-light radius-3 overflow-hidden d-flex">
                    <img src="https://picsum.photos/id/50/300" style="width:40%">
                    <div>
                        <div class="p-2">防蚊卡夾（白色）</div>
                        <div class="absolute t-right w-100 p-2" style="bottom:0;left:0">
                            <span class="t-gray t-line-through">$499</span>
                            <span class="t-red ml-2">$450</span>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-3 pb-6">
            <a href="#" class="t-dark t-none d-block relative">
                <div class="border-light radius-3 overflow-hidden d-flex">
                    <img src="https://picsum.photos/id/50/300" style="width:40%">
                    <div>
                        <div class="p-2">防蚊卡夾（白色）</div>
                        <div class="absolute t-right w-100 p-2" style="bottom:0;left:0">
                            <span class="t-gray t-line-through">$499</span>
                            <span class="t-red ml-2">$450</span>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-3 pb-6">
            <a href="#" class="t-dark t-none d-block relative">
                <div class="border-light radius-3 overflow-hidden d-flex">
                    <img src="https://picsum.photos/id/50/300" style="width:40%">
                    <div>
                        <div class="p-2">防蚊卡夾（白色）</div>
                        <div class="absolute t-right w-100 p-2" style="bottom:0;left:0">
                            <span class="t-gray t-line-through">$499</span>
                            <span class="t-red ml-2">$450</span>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="container row">
        <div class="col-12">
            <hr class="border-light">
        </div>
    </div>
    <div class="container row py-6">
        <div class="col-12">
            <h2 class="mb-5">文章特輯</h2>
        </div>
        <div class="col-3">
            <a href="#" class="t-none relative d-block">
                <div class="border-light radius-3 overflow-hidden">
                    <img src="https://picsum.photos/id/79/800/600" class="img-cover w-100 h-100">
                    <div class="t-dark p-2">
                        有序·收納小幫手系列
                    </div>
                    <div class="p-2 t-gray d-flex justify-content-between">
                        <span>2020/09/08</span>
                        <span>好物開箱</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-3">
            <a href="#" class="t-none d-block relative">
                <div class="border-light radius-3 overflow-hidden">
                    <img src="https://picsum.photos/id/76/800/600" class="img-cover w-100 h-100">
                    <div class="t-dark p-2">
                        醇萃防蚊液
                    </div>
                    <div class="p-2 t-gray d-flex justify-content-between">
                        <span>2020/09/08</span>
                        <span>開發日誌</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-3">
            <a href="#" class="t-none">
                <div class="border-light radius-3 overflow-hidden">
                    <img src="https://picsum.photos/id/78/800/600" class="img-cover w-100 h-100">
                    <div class="t-dark p-2">
                        Eco Fresh強淨碗盤清潔
                    </div>
                    <div class="p-2 t-gray d-flex justify-content-between">
                        <span>2020/09/08</span>
                        <span>開發日誌</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-3">
            <a href="#" class="t-none d-block relative">
                <div class="border-light radius-3 overflow-hidden">
                    <img src="https://picsum.photos/id/75/800/600" class="img-cover w-100 h-100">
                    <div class="t-dark p-2">
                        Eco Fresh廚房重油清潔
                    </div>
                    <div class="p-2 t-gray d-flex justify-content-between">
                        <span>2020/09/08</span>
                        <span>好物開箱</span>
                    </div>
                </div>
            </a>
        </div>
    </div>
</body>
</html>