<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UNIPAPA</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;400;500;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/global.css">
    <link rel="stylesheet" href="css/grid.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div id="app">
    <app-nav></app-nav>
    <app-header></app-header>
    <div class="container relative" style="padding:80px 0">
        <div class="row">
            <div class="col-12">
                <a href="#" class="d-block" style="height:150px">
                    <img src="https://picsum.photos/id/49/1200/300" class="w-100 h-100 img-cover border-light radius-3">
                    <h2 class="absolute t-dark pl-5 t-weight-500" style="top:46%">訂閱配送</h2>
                </a>
            </div>
        </div>
    </div>
    <div class="container row py-6">
        <div class="col-12">
            <h2 class="mb-5 t-weight-500">活動特輯</h2>
        </div>
        <div v-for="act in active" class="col-lg-3 col-sm-6 col-12 mb-5 mb-lg-0">
            <a href="#" class="t-none">
                <div class="border-light radius-3 overflow-hidden ani">
                    <img :src="act.img" class="img-cover w-100 h-100">
                    <div class="t-dark p-2">
                        {{act.title}}
                    </div>
                </div>
            </a>
        </div>
        <!-- <div class="col-lg-3 col-sm-6 col-12 mb-5 mb-lg-0">
            <a href="#" class="t-none">
                <div class="border-light radius-3 overflow-hidden ani">
                    <img src="https://picsum.photos/id/96/800/600" class="img-cover w-100 h-100">
                    <div class="t-dark p-2">
                        五周年限定，白色好神拖強勢回歸
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-sm-6 col-12 mb-5 mb-lg-0">
            <a href="#" class="t-none">
                <div class="border-light radius-3 overflow-hidden ani">
                    <img src="https://picsum.photos/id/98/800/600" class="img-cover w-100 h-100">
                    <div class="t-dark p-2">
                        五周年限定，白色好神拖強勢回歸
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-sm-6 col-12 mb-5 mb-lg-0">
            <a href="#" class="t-none">
                <div class="border-light radius-3 overflow-hidden ani">
                    <img src="https://picsum.photos/id/95/800/600" class="img-cover w-100 h-100">
                    <div class="t-dark p-2">
                        五周年限定，白色好神拖強勢回歸
                    </div>
                </div>
            </a>
        </div> -->
    </div>
    <div class="container row py-6">
        <div class="col-12">
            <h2 class="mb-5 t-weight-500">新品發表</h2>
        </div>
        <div class="col-lg-3 col-sm-6 col-12 mb-5 mb-lg-0">
            <a href="#" class="t-none relative d-block">
                <div class="border-light radius-3 overflow-hidden ani">
                    <img src="https://picsum.photos/id/79/800/600" class="img-cover w-100 h-100">
                    <div class="t-dark p-2">
                        有序·收納小幫手系列
                    </div>
                </div>
                <div class="absolute bg-black t-white p-1 radius-1" style="right:15px;top:15px">New</div>

            </a>
        </div>
        <div class="col-lg-3 col-sm-6 col-12 mb-5 mb-lg-0">
            <a href="#" class="t-none d-block relative">
                <div class="border-light radius-3 overflow-hidden ani">
                    <img src="https://picsum.photos/id/76/800/600" class="img-cover w-100 h-100">
                    <div class="t-dark p-2">
                        醇萃防蚊液
                    </div>
                </div>
                <div class="absolute bg-black t-white p-1 radius-1" style="right:15px;top:15px">New</div>
            </a>
        </div>
        <div class="col-lg-3 col-sm-6 col-12 mb-5 mb-lg-0">
            <a href="#" class="t-none">
                <div class="border-light radius-3 overflow-hidden ani">
                    <img src="https://picsum.photos/id/78/800/600" class="img-cover w-100 h-100">
                    <div class="t-dark p-2">
                        Eco Fresh強淨碗盤清潔
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-sm-6 col-12 mb-5 mb-lg-0">
            <a href="#" class="t-none d-block relative">
                <div class="border-light radius-3 overflow-hidden ani">
                    <img src="https://picsum.photos/id/75/800/600" class="img-cover w-100 h-100">
                    <div class="t-dark p-2">
                        Eco Fresh廚房重油清潔
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="container row py-6">
        <div class="col-12">
            <h2 class="mb-5 t-weight-500">限定促銷</h2>
        </div>
        <div class="col-xl-3 col-md-6 col-12 pb-6">
            <a href="#" class="t-dark t-none d-block relative">
                <div class="border-light radius-3 overflow-hidden d-flex ani">
                    <img src="https://picsum.photos/id/50/300" style="width:40%">
                    <div>
                        <div class="p-2">防蚊卡夾（白色）</div>
                        <div class="absolute t-right w-100 p-2" style="bottom:0;left:0">
                            <span class="t-gray t-line-through">$499</span>
                            <span class="t-red ml-2">$450</span>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-xl-3 col-md-6 col-12 pb-6">
            <a href="#" class="t-dark t-none d-block relative">
                <div class="border-light radius-3 overflow-hidden d-flex ani">
                    <img src="https://picsum.photos/id/50/300" style="width:40%">
                    <div>
                        <div class="p-2">防蚊卡夾（白色）</div>
                        <div class="absolute t-right w-100 p-2" style="bottom:0;left:0">
                            <span class="t-gray t-line-through">$499</span>
                            <span class="t-red ml-2">$450</span>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-xl-3 col-md-6 col-12 pb-6">
            <a href="#" class="t-dark t-none d-block relative">
                <div class="border-light radius-3 overflow-hidden d-flex ani">
                    <img src="https://picsum.photos/id/50/300" style="width:40%">
                    <div>
                        <div class="p-2">防蚊卡夾（白色）</div>
                        <div class="absolute t-right w-100 p-2" style="bottom:0;left:0">
                            <span class="t-gray t-line-through">$499</span>
                            <span class="t-red ml-2">$450</span>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-xl-3 col-md-6 col-12 pb-6">
            <a href="#" class="t-dark t-none d-block relative">
                <div class="border-light radius-3 overflow-hidden d-flex ani">
                    <img src="https://picsum.photos/id/50/300" style="width:40%">
                    <div>
                        <div class="p-2">防蚊卡夾（白色）</div>
                        <div class="absolute t-right w-100 p-2" style="bottom:0;left:0">
                            <span class="t-gray t-line-through">$499</span>
                            <span class="t-red ml-2">$450</span>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-xl-3 col-md-6 col-12 pb-6">
            <a href="#" class="t-dark t-none d-block relative">
                <div class="border-light radius-3 overflow-hidden d-flex ani">
                    <img src="https://picsum.photos/id/50/300" style="width:40%">
                    <div>
                        <div class="p-2">防蚊卡夾（白色）</div>
                        <div class="absolute t-right w-100 p-2" style="bottom:0;left:0">
                            <span class="t-gray t-line-through">$499</span>
                            <span class="t-red ml-2">$450</span>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-xl-3 col-md-6 col-12 pb-6">
            <a href="#" class="t-dark t-none d-block relative">
                <div class="border-light radius-3 overflow-hidden d-flex ani">
                    <img src="https://picsum.photos/id/50/300" style="width:40%">
                    <div>
                        <div class="p-2">防蚊卡夾（白色）</div>
                        <div class="absolute t-right w-100 p-2" style="bottom:0;left:0">
                            <span class="t-gray t-line-through">$499</span>
                            <span class="t-red ml-2">$450</span>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-xl-3 col-md-6 col-12 pb-6">
            <a href="#" class="t-dark t-none d-block relative">
                <div class="border-light radius-3 overflow-hidden d-flex ani">
                    <img src="https://picsum.photos/id/50/300" style="width:40%">
                    <div>
                        <div class="p-2">防蚊卡夾（白色）</div>
                        <div class="absolute t-right w-100 p-2" style="bottom:0;left:0">
                            <span class="t-gray t-line-through">$499</span>
                            <span class="t-red ml-2">$450</span>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-xl-3 col-md-6 col-12 pb-6">
            <a href="#" class="t-dark t-none d-block relative">
                <div class="border-light radius-3 overflow-hidden d-flex ani">
                    <img src="https://picsum.photos/id/50/300" style="width:40%">
                    <div>
                        <div class="p-2">防蚊卡夾（白色）</div>
                        <div class="absolute t-right w-100 p-2" style="bottom:0;left:0">
                            <span class="t-gray t-line-through">$499</span>
                            <span class="t-red ml-2">$450</span>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-xl-3 col-md-6 col-12 pb-6">
            <a href="#" class="t-dark t-none d-block relative">
                <div class="border-light radius-3 overflow-hidden d-flex ani">
                    <img src="https://picsum.photos/id/50/300" style="width:40%">
                    <div>
                        <div class="p-2">防蚊卡夾（白色）</div>
                        <div class="absolute t-right w-100 p-2" style="bottom:0;left:0">
                            <span class="t-gray t-line-through">$499</span>
                            <span class="t-red ml-2">$450</span>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-xl-3 col-md-6 col-12 pb-6">
            <a href="#" class="t-dark t-none d-block relative">
                <div class="border-light radius-3 overflow-hidden d-flex ani">
                    <img src="https://picsum.photos/id/50/300" style="width:40%">
                    <div>
                        <div class="p-2">防蚊卡夾（白色）</div>
                        <div class="absolute t-right w-100 p-2" style="bottom:0;left:0">
                            <span class="t-gray t-line-through">$499</span>
                            <span class="t-red ml-2">$450</span>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="container row">
        <div class="col-12">
            <hr class="border-light">
        </div>
    </div>
    <div class="container row py-6">
        <div class="col-12">
            <h2 class="mb-5 t-weight-500">文章特輯</h2>
        </div>
        <div class="col-lg-3 col-sm-6 col-12 mb-5 mb-lg-0">
            <a href="#" class="t-none relative d-block">
                <div class="border-light radius-3 overflow-hidden ani">
                    <img src="https://picsum.photos/id/79/800/600" class="img-cover w-100 h-100">
                    <div class="t-dark p-2">
                        有序·收納小幫手系列
                    </div>
                    <div class="p-2 t-gray d-flex justify-content-between">
                        <span>2020/09/08</span>
                        <span>好物開箱</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-sm-6 col-12 mb-5 mb-lg-0">
            <a href="#" class="t-none d-block relative">
                <div class="border-light radius-3 overflow-hidden ani">
                    <img src="https://picsum.photos/id/76/800/600" class="img-cover w-100 h-100">
                    <div class="t-dark p-2">
                        醇萃防蚊液
                    </div>
                    <div class="p-2 t-gray d-flex justify-content-between">
                        <span>2020/09/08</span>
                        <span>開發日誌</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-sm-6 col-12 mb-5 mb-lg-0">
            <a href="#" class="t-none">
                <div class="border-light radius-3 overflow-hidden ani">
                    <img src="https://picsum.photos/id/78/800/600" class="img-cover w-100 h-100">
                    <div class="t-dark p-2">
                        Eco Fresh強淨碗盤清潔
                    </div>
                    <div class="p-2 t-gray d-flex justify-content-between">
                        <span>2020/09/08</span>
                        <span>開發日誌</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-sm-6 col-12 mb-5 mb-lg-0">
            <a href="#" class="t-none d-block relative">
                <div class="border-light radius-3 overflow-hidden ani">
                    <img src="https://picsum.photos/id/75/800/600" class="img-cover w-100 h-100">
                    <div class="t-dark p-2">
                        Eco Fresh廚房重油清潔
                    </div>
                    <div class="p-2 t-gray d-flex justify-content-between">
                        <span>2020/09/08</span>
                        <span>好物開箱</span>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="container row py-6" style="padding-bottom:150px">
        <div class="col-12">
            <h2 class="mb-5 t-weight-500">關於我們</h2>
        </div>
        <div class="col-lg-3 col-sm-6 col-12 mb-5 mb-lg-0">
            <a href="#" class="t-dark t-none d-block relative">
                <div class="border-light radius-3 overflow-hidden d-flex align-items-center ani">
                    <img src="https://picsum.photos/id/30/300" style="width:40%">
                    <div>
                        <div class="p-2">企業資訊</div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-sm-6 col-12 mb-5 mb-lg-0">
            <a href="#" class="t-dark t-none d-block relative">
                <div class="border-light radius-3 overflow-hidden d-flex align-items-center ani">
                    <img src="https://picsum.photos/id/31/300" style="width:40%">
                    <div>
                        <div class="p-2">實體販售地點</div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-sm-6 col-12 mb-5 mb-lg-0">
            <a href="#" class="t-dark t-none d-block relative">
                <div class="border-light radius-3 overflow-hidden d-flex align-items-center ani">
                    <img src="https://picsum.photos/id/32/300" style="width:40%">
                    <div>
                        <div class="p-2">人才招募</div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-sm-6 col-12 mb-5 mb-lg-0">
            <a href="#" class="t-dark t-none d-block relative">
                <div class="border-light radius-3 overflow-hidden d-flex align-items-center ani">
                    <img src="https://picsum.photos/id/33/300" style="width:40%">
                    <div>
                        <div class="p-2">支援服務</div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <footer class="bg-dark py-8">
        <div class="container row">
            <div class="col-md-8 col-12 t-center t-md-left mb-3 mb-md-0">
                <a href="#" class="t-white t-none mr-lg-7 ml-md-0 mx-1">企業資訊</a>
                <a href="#" class="t-white t-none mr-lg-7 ml-md-0 mx-1">實體販售地點</a>
                <a href="#" class="t-white t-none mr-lg-7 ml-md-0 mx-1">人才招募</a>
                <a href="#" class="t-white t-none mr-lg-7 ml-md-0 mx-1">支援服務</a>
            </div>
            <div class="col-md-4 col-12 t-center t-md-right">
                <a href="#" class="t-white t-none ml-lg-7 mr-md-0 mx-2"><i class="fab fa-facebook-f fa-lg"></i></a>
                <a href="#" class="t-white t-none ml-lg-7 mr-md-0 mx-2"><i class="fab fa-line fa-lg"></i></a>
                <a href="#" class="t-white t-none ml-lg-7 mr-md-0 mx-2"><i class="fab fa-instagram fa-lg"></i></a>
            </div>
            <div class="col-md-12 col-8 mx-auto py-3"><hr class="hr-light"></div>
            <div class="col-md-6 col-12 t-white t-center t-md-left mb-2 mb-md-0">
                有理百物股份有限公司
            </div>
            <div class="col-md-6 col-12 t-white t-center t-md-right">
                © Unipapa Inc. All rights reserved.
            </div>
        </div>
    </footer>
</div>
<script src="https://unpkg.com/vue@next"></script>
<script src="js/script.js"></script>
</body>
</html>