:root {
    --blue: #57caff;
    --red:#ff3434;
    --green: #00b94d;
    --orange: #ffc042;
    --dark: #181818;
    --light: #dbdbdb;
    --black: #000;
    --white: #fff;
    --gray: #949494;
}
* {
    box-sizing: border-box;
}
html,body,h1,h2,h3,h4,h5,h6,p,ul,ol,li,div,span,a,img
nav, header, footer
{
    margin: 0;
    padding: 0;
    border: 0;
}
/* width */
.w-25 {width: 25%;}
.w-50 {width: 50%;}
.w-75 {width: 75%;}
.w-100 {width: 100%;}
/* height */
.h-25 {height: 25%;}
.h-50 {height: 50%;}
.h-75 {height: 75%;}
.h-100 {height: 100%;}
.h-100vh {height: 100vh;}
/* text-align */
.t-left {text-align: left;}
.t-right {text-align: right;}
.t-center {text-align: center;}
.t-justify {text-align: justify;}
/* text-decoration */
.t-none {text-decoration: none;}
.t-underline {text-decoration: underline;}
.t-line-through {text-decoration: line-through;}
/* color */
.t-blue {color: var(--blue);}
.t-red {color: var(--red);}
.t-green {color: var(--green);}
.t-orange {color: var(--orange);}
.t-dark {color: var(--dark);}
.t-light {color: var(--light);}
.t-black {color: var(--black);}
.t-white {color: var(--white);}
.t-gray {color: var(--gray);}
/* font-weight */
.t-weight {font-weight: bold;}
.t-weight-100 {font-weight: 100;}
.t-weight-200 {font-weight: 200;}
.t-weight-300 {font-weight: 300;}
.t-weight-400 {font-weight: 400;}
.t-weight-500 {font-weight: 500;}
.t-weight-600 {font-weight: 600;}
.t-weight-700 {font-weight: 700;}
.t-weight-800 {font-weight: 800;}
.t-weight-900 {font-weight: 900;}
/* font-style */
.t-style {font-style: italic;}
.t-style-normal {font-style: normal;}
/* background-color */
.bg-blue {background-color: var(--blue);}
.bg-red {background-color: var(--red);}
.bg-green {background-color: var(--green);}
.bg-orange {background-color: var(--orange);}
.bg-dark {background-color: var(--dark);}
.bg-light {background-color: var(--light);}
.bg-black {background-color: var(--black);}
.bg-white {background-color: var(--white);}
.bg-gray {background-color: var(--gray);}
/* display */
.d-none {display: none;}
.d-block {display: block;}
.d-inline {display: inline;}
.d-inline-block {display: inline-block;}
.d-flex {display: flex;}
.d-table {display: table;}
.d-table-cell {display: table-cell;}
/* position */
.static {position: static;}
.relative {position: relative;}
.absolute {position: absolute;}
.fixed {position: fixed;}
.sticky {position: sticky;}
/* justify-content */
.justify-content-start {justify-content:flex-start}
.justify-content-end {justify-content:flex-end}
.justify-content-center {justify-content:center}
.justify-content-around {justify-content:space-around}
.justify-content-between {justify-content:space-between}
.justify-content-evenly {justify-content:space-evenly}
/* align-items */
.align-items-start {align-items: flex-start;}
.align-items-end {align-items: flex-end;}
.align-items-center {align-items: center;}
.align-items-stretch {align-items: stretch;}
.align-items-baseline {align-items: baseline;}
/* align-self */
.align-self-start {align-self: flex-start;}
.align-self-end {align-self: flex-end;}
.align-self-center {align-self: center;}
.align-self-stretch {align-self: stretch;}
.align-self-baseline {align-self: baseline;}
/* Margin */
/* Padding */
