:root {
    --blue: #57caff;
    --red:#ff3434;
    --green: #00b94d;
    --orange: #ffc042;
    --dark: #181818;
    --light: #dbdbdb;
    --black: #000;
    --white: #fff;
    --gray: #949494;
}
* {
    box-sizing: border-box;
}
html,body,h1,h2,h3,h4,h5,h6,p,ul,ol,li,div,span,a,img
nav, header, footer
{
    margin: 0;
    padding: 0;
    border: 0;
}
/* width */
.w-25 {width: 25%;}
.w-50 {width: 50%;}
.w-75 {width: 75%;}
.w-100 {width: 100%;}
/* height */
.h-25 {height: 25%;}
.h-50 {height: 50%;}
.h-75 {height: 75%;}
.h-100 {height: 100%;}
.h-100vh {height: 100vh;}
/* text-align */
.t-left {text-align: left;}
.t-right {text-align: right;}
.t-center {text-align: center;}
.t-justify {text-align: justify;}
/* text-decoration */
.t-none {text-decoration: none;}
.t-underline {text-decoration: underline;}
.t-line-through {text-decoration: line-through;}
/* color */
.t-blue {color: var(--blue);}
.t-red {color: var(--red);}
.t-green {color: var(--green);}
.t-orange {color: var(--orange);}
.t-dark {color: var(--dark);}
.t-light {color: var(--light);}
.t-black {color: var(--black);}
.t-white {color: var(--white);}
.t-gray {color: var(--gray);}
/* background-color */
.bg-blue {background-color: var(--blue);}
.bg-red {background-color: var(--red);}
.bg-green {background-color: var(--green);}
.bg-orange {background-color: var(--orange);}
.bg-dark {background-color: var(--dark);}
.bg-light {background-color: var(--light);}
.bg-black {background-color: var(--black);}
.bg-white {background-color: var(--white);}
.bg-gray {background-color: var(--gray);}

