<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <div id="app">
        <!-- 選單 -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-5">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Navbar</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link active position-relative" href="#" data-bs-toggle="offcanvas" data-bs-target="#cartItems" >
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                                    class="bi bi-cart2" viewBox="0 0 16 16">
                                    <path
                                        d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l1.25 5h8.22l1.25-5H3.14zM5 13a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z" />
                                </svg>
                                <div v-if="cartItems.length > 0" class="fs-6 bg-danger text-white position-absolute rounded-circle d-flex align-items-center justify-content-center" style="width: 20px;height: 20px;right: -5px; top: 0;">
                                    {{cartItems.length}}
                                </div>
                            </a>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
        <!-- 購物車 -->
        <div class="offcanvas offcanvas-end" tabindex="-1" id="cartItems">
            <div class="offcanvas-header">
                <h5 id="offcanvasRightLabel">購物車</h5>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                    aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <div v-for="(cartItem,idx) of cartItems">
                    <div class="fw-bold">#{{idx+1}}</div>
                    <div>{{cartItem.title}}</div>
                    <div>{{cartItem.color}}</div>
                    <div>{{cartItem.size}}</div>
                    <div class="text-end">
                            ${{cartItem.price}} 
                    </div>
                    <a href="javascript:;" class="btn btn-danger btn-sm" @click="removeCart(idx)">移除</a>
                    <hr>
                </div>
                <div v-if="cartItems == 0">空的喔!!</div>
                <template v-else>
                    <div class="d-flex justify-content-between">
                        <span>總金額</span>
                        <span>$ 0</span>
                    </div>
                    <div>
                        <a href="javascript:;" class="btn btn-danger btn-sm" @click="clearCart()">清空購物車</a>
                    </div>
                </template>
            </div>
        </div>
        <!-- 產品列表 -->
        <div class="container">
            <div class="row g-4">
                <div class="col-xl-3 col-sm-6" v-for="(product,idx) of products">
                    <div class="border p-3 rounded">
                        <img :src="`images/${product.img}`" class="w-100">
                        <h2 class="fs-5">{{ product.title }} / {{product.size}}</h2>
                        <div class="d-flex justify-content-between align-items-center">
                            <span class="text-primary">
                                售價 {{product.price}}
                            </span>
                            <span>
                                <a href="javascript:;" class="btn btn-outline-danger btn-sm" @click="addToCart(idx)">加入購物車</a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://unpkg.com/vue@next"></script>
    <script>
        Vue.createApp({
            data() {
                return {
                    cartItems:[],
                    products: [
                        {
                            "title": "iPhone 12",
                            "img": "iphone-12-white-select-2020.png",
                            "color": "白色",
                            "price": "26900",
                            "size": "64GB"
                        },
                        {
                            "title": "iPhone 12",
                            "img": "iphone-12-white-select-2020.png",
                            "color": "白色",
                            "price": "25500",
                            "size": "128GB"
                        },
                        {
                            "title": "iPhone 12",
                            "img": "iphone-12-white-select-2020.png",
                            "color": "白色",
                            "price": "29000",
                            "size": "256GB"
                        },
                        {
                            "title": "iPhone 12",
                            "img": "iphone-12-black-select-2020.png",
                            "color": "黑色",
                            "price": "26900",
                            "size": "64GB"
                        },
                        {
                            "title": "iPhone 12",
                            "img": "iphone-12-black-select-2020.png",
                            "color": "黑色",
                            "price": "25500",
                            "size": "128GB"
                        },
                        {
                            "title": "iPhone 12",
                            "img": "iphone-12-black-select-2020.png",
                            "color": "黑色",
                            "price": "29000",
                            "size": "256GB"
                        },
                        {
                            "title": "iPhone 12",
                            "img": "iphone-12-blue-select-2020.png",
                            "color": "藍色",
                            "price": "26900",
                            "size": "64GB"
                        },
                        {
                            "title": "iPhone 12",
                            "img": "iphone-12-blue-select-2020.png",
                            "color": "藍色",
                            "price": "25500",
                            "size": "128GB"
                        },
                        {
                            "title": "iPhone 12",
                            "img": "iphone-12-blue-select-2020.png",
                            "color": "藍色",
                            "price": "29000",
                            "size": "256GB"
                        },
                        {
                            "title": "iPhone 12",
                            "img": "iphone-12-green-select-2020.png",
                            "color": "綠色",
                            "price": "26900",
                            "size": "64GB"
                        },
                        {
                            "title": "iPhone 12",
                            "img": "iphone-12-green-select-2020.png",
                            "color": "綠色",
                            "price": "25500",
                            "size": "128GB"
                        },
                        {
                            "title": "iPhone 12",
                            "img": "iphone-12-green-select-2020.png",
                            "color": "綠色",
                            "price": "29000",
                            "size": "256GB"
                        },
                        {
                            "title": "iPhone 12",
                            "img": "iphone-12-red-select-2020.png",
                            "color": "紅色",
                            "price": "26900",
                            "size": "64GB"
                        },
                        {
                            "title": "iPhone 12",
                            "img": "iphone-12-red-select-2020.png",
                            "color": "紅色",
                            "price": "25500",
                            "size": "128GB"
                        },
                        {
                            "title": "iPhone 12",
                            "img": "iphone-12-red-select-2020.png",
                            "color": "紅色",
                            "price": "29000",
                            "size": "256GB"
                        },
                        {
                            "title": "iPhone 12",
                            "img": "iphone-12-purple-select-2021.png",
                            "color": "紫色",
                            "price": "26900",
                            "size": "64GB"
                        },
                        {
                            "title": "iPhone 12",
                            "img": "iphone-12-purple-select-2021.png",
                            "color": "紫色",
                            "price": "25500",
                            "size": "128GB"
                        },
                        {
                            "title": "iPhone 12",
                            "img": "iphone-12-purple-select-2021.png",
                            "color": "紫色",
                            "price": "29000",
                            "size": "256GB"
                        }
                    ]
                }
            },
            methods:{
                //加入購物車
                addToCart(idx){
                    // console.log(this.products[idx])
                    this.cartItems.push(this.products[idx]);
                },
                clearCart(){
                    if(confirm('確認清空所有購物車?')){
                        this.cartItems.length = 0;
                    }
                },
                removeCart(idx){
                    if(confirm('確認移除?')){
                        this.cartItems.splice(idx,1);
                    }
                }

            }
        }).mount('#app');

    </script>
</body>

</html>